<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665772173646-n0df7c04fv0okestcl4s6q90kjt6elf3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665772173646-n0df7c04fv0okestcl4s6q90kjt6elf3</string>
	<key>API_KEY</key>
	<string>AIzaSyC4S7Agso5cc5hho250if2HP23HfWLjn70</string>
	<key>GCM_SENDER_ID</key>
	<string>665772173646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.noted</string>
	<key>PROJECT_ID</key>
	<string>noted-63886</string>
	<key>STORAGE_BUCKET</key>
	<string>noted-63886.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:665772173646:ios:9d2d6ac4af3ac58cb0961f</string>
	<key>DATABASE_URL</key>
	<string>https://noted-63886-default-rtdb.firebaseio.com</string>
</dict>
</plist>